<div sd-modal data-model="aboutActive" data-close="closeAbout()" class="modal modal--large modal--about">
  <div class="modal__header modal__header--about">
    <h3 class="modal__header-sd-logo">Superdesk LJI</h3>
    <div class="btn-group pull-right">
      <button ng-click="closeAbout()" title="{{ :: 'Close' | translate }}" class="modal__close"><i class="icon-close-small"></i></button>
    </div>
  </div>

  <div class="modal__body">
    <div class="about-content">
      <span class="sf-logo"></span>
      <h4>Superdesk <small>(ver. {{ :: version }})</small></h4>
      <br>

      <p>
        How to Use Superdesk is a quick-start guide for LJI contributors and editors.
        Superdesk is the back end of this website, where the writing, editing and publishing happens.
        <br><strong><a href="">Download it in English</a></strong>.
      </p>

      <p>
        Comment utiliser Superdesk est un guide de démarrage pour les contributeurs et éditeurs de l’IJL.
        Superdesk est l’outil de base de ce site Web. C’est là qu’ont lieu la rédaction, l'édition et la publication des contenus de l’IJL.
        <br><strong><a href="">Téléchargez-le en français</a></strong>.
      </p>
    </div>
  </div>
  <div class="modal__footer">
    <button ng-click="closeAbout()" class="btn btn--primary pull-right" translate>Close</button>
  </div>
</div>




